<ion-card color="dark">
  <ion-card-title>{{ item.name }}</ion-card-title>
  <ion-card-subtitle>
    <span>{{ item.price }}</span>
  </ion-card-subtitle>
  <button type="button" class="btn btn-primary" (click)="openModal(template)">
    Create template modal
  </button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" >{{item.name}}</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


      <div>
        <h4>Description</h4>
        <p>{{ item.description }}</p>
      </div>
      <div>
        <h4>Price</h4>
        <p >{{ item.price }}</p>
      </div>
      <div>
        <h4>Quantify</h4>
        <div class="def-number-input number-input safari_only">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
            <input class="quantity" min="0" name="quantity" value="1" type="number"  [(ngModel)]="quantity" >
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
          </div>
      </div>

      <ion-button (click)="add(item.price, item.name)">
        add
      </ion-button>


    </div>

  </ng-template>
</ion-card>
