ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}


.require {
    color: rgb(241, 1, 1);
  }
  
  .error-message {
    font-size: smaller;
    padding-left: 15px;
  }