<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-item>
      <ion-input name="name" type="text" placeholder="Ingresa tu nombre" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="last_name" type="text" placeholder="Ingrese tu apellido" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="email" type="email" placeholder="Tu email" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="address" placeholder="Ingrese Su Direccion" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingrese Su Cedula <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="number" name="dni" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Desea recibir su factura ?</ion-label>
      <ion-checkbox name="billing" ngModel required></ion-checkbox>

    </ion-item>

    <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Crear Orden</ion-button>
  </form>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-input placeholder="Ingresa tu nombre" required type="text" formControlName="firstName"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="Ingresa tu apelllido" required type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Ingresa tu email" required type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Ingresa tu direccion" required type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item class="ion-item-right-margin">
      <ion-input placeholder="Ingresa tu cedula" required type="text" formControlName="dni"></ion-input>
    </ion-item>

    <ion-button size="large" type="submit" slot="end" [disabled]="!todo.valid">Submit</ion-button>
  </form>
</ion-content>