<ion-header>
  <ion-toolbar>
    <ion-title>choice-payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Paypal</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

<div id="paypal-checkout-btn"></div>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Pago Corriente</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
  <ion-button expand="block" fill="outline"(click)="goToCheckUser()">
    Corriente
   </ion-button>
</ion-card>


</ion-content>



   
